* {
	margin: 0;
	bottom: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	border: none;
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
}

header {
	height: auto;
	display: relative;
	overflow: hidden;
}

.container {
	padding: 0 13px;
}

.logo-principal img {
	width: 100px;
}

.topo {
	display: flex;
	padding: 40px 0;
	align-items: center;
	justify-content: space-between;
}

.logo-menu {
	display: none;
}

/*Menu*/

.menu {
	max-height: 0;
	padding: 0;
	border: 1px solid red;
	overflow-y: scroll;
	visibility: hidden;
	transition: .3s;
}

.menu::-webkit-scrollbar {
	display: none;
}

.menu.active {
	max-height: 390px;
	visibility: visible;
}

.menu .titulo, .sub-menu .sub-menu-titulo {
	display: flex;
	padding: 0;
}

.menu .titulo .texto {
	color: #3251FC;
	font-size: 13px;
	font-weight: 700;
	display: block;
	padding: 7px;
	width: 100%;
}

.menu .titulo .icone, .sub-menu .sub-menu-titulo .icone {
	width: 30px;
	color: #3251FC;
	display: flex;
}

.menu .titulo .icone i, .sub-menu .sub-menu-titulo i {
	margin: auto;
	font-size: 12px;
}

.menu .titulo.principal {
	background: #3251FC;
}

.menu .titulo.principal .texto, .menu .titulo.principal .icone {
	color: white;
}

.botoes {
	display: flex;
	align-items: center;
}

.btn-hamburguer {
	background: #3251FC;
	color: white;
	padding: 9px 14px 8px;
	border-radius: 3px;
	cursor: pointer;
}

.botoes .btn-pesquisa, .botoes .btn-compra {
	color: #444;
	background: transparent;
	cursor: pointer;
	margin-right: 35px;
}

.botoes .pesquisa {
	display: flex;
}

.botoes .pesquisa .campo {
	display: none;
	padding: 0;
	position: relative;
	margin-right: 20px;
	border: 1px solid blue;
}

.botoes .pesquisa.active .campo {
	display: flex;
}

.botoes .pesquisa.active .campo .close {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 11px;
	color: #3251FC;
}

.botoes .pesquisa.active .campo .close.active {
	display: block;
}

.botoes .pesquisa.active .campo input {
	right: 75px;
	width: 200px;
	font-size: 12px;
}

.botoes .pesquisa.active .campo input:focus {
	border: none;
	outline: 0;
}

.sub-menu h4  {
	margin-left: 20px;
	margin-top: 10px;
}

.sub-menu {
	margin-bottom: 10px;
	display: none;
}

.sub-menu i {
	color: #212529;
}

.sub-menu.active {
	display: block;
}

.sub-menu .sub-menu-sub {
	margin-left: 20px;
}

.sub-menu .sub-menu-titulo {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	margin-left: 20px;
}

.sub-menu .sub-menu-titulo .titulo, .sub-menu h4 {
	color: #212529;
	font-size: 13px;
	display: block;
	width: 100%;
	padding: 5px;
	font-weight: 400;
	transition: .2s;
}

.sub-menu .sub-menu-titulo .titulo:hover {
	
}

/*Seção 1*/

.secao-1 .container {
	display: grid;
	grid-row-gap: 15px;
	padding-bottom: 15px;
}

.secao-1 .card {
	color: white;
	position: relative;
}

.secao-1 .card .img {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.secao-1 .card:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background: rgba(33, 37, 41, .8);
	z-index: 2;
	transition: .3s;
}

.secao-1 .card:hover:after {
	background: rgba(33, 37, 41, .85);
}

.secao-1 .card .texto {
	position: absolute;
	bottom: 40px;
	width: 350px;
	left: 30px;
	height: 40px;
	overflow: hidden;
	transition: .5s;
	transition-delay: .3s;
	z-index: 3;
}

.secao-1 .card:hover .texto {
	height: 165px;
	transition: .3s;
	transition-delay: 0;
}

.secao-1 .card h3 {
	font-size: 11px;
	font-weight: 400;
}

.secao-1 .card h2 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 3px;
}

.secao-1 .card p {
	font-size: 11px;
	margin-top: 5px;
	line-height: 20px;
	color: #777;
	font-weight: 600;
}

.secao-1 .card a {
	padding: 10px 20px;
	display: inline-block;
	color: black;
	font-size: 10px;
	border-radius: 5px;
	background: white;
	font-weight: 600;
	margin-top: 15px;
}

.secao-1 .card a i {
	margin-left: 25px;
	font-size: 11px;
}

/*Seção 2*/

.secao-2 {
	color: white;
	background: #3251FC;
	padding: 80px 0;
	text-align: center;
}

.secao-2 .container {
	display: grid;
	grid-row-gap: 30px;
}

.secao-2 .carousel .titulo {
	font-size: 10px;
	font-weight: 400;
}

.secao-2 .carousel .carousel-item .numero {
	font-size: 50px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	padding: 0px;
}

.secao-2 .carousel .carousel-item .numero span {
	font-size: 25px;
	margin-top: 11px;
	font-weight: 600;
	margin-left: 2px;
}

.secao-2 .carousel .carousel-item p {
	font-size: 13px;
	font-weight: 400;
	margin-top: -5px;
}

.secao-2 .textos h2 {
	font-size: 26px;
	font-weight: 600;
	letter-spacing: -1px;
	margin-bottom: 10px;
}

.secao-2 .textos p {
	font-size: 13px;
	color: #ccc;
	line-height: 25px;
	margin-bottom: 25px;
}

/*Seção 4*/

.secao-4 {
	text-align: center;
	color: #212529;
}

.secao-4 .container {
	display: grid;
	grid-row-gap: 40px;
}

.secao-4 .titulo {
	font-size: 24px;
	margin-bottom: 17px;
}

.secao-4 h3 {
	font-size: 15px;
	font-weight: 400;
	color: #777;
	line-height: 25px;
	margin-bottom: 20px;
}

.secao-4 p {
	font-size: 12px;
	color: #777;
	line-height: 25px;
	margin-bottom: 40px;
}

.secao-4 .btn, .secao-2 .btn {
	color: white;
	font-size: 12px;
	font-weight: 700;
	display: inline-block;
	padding: 13px 25px;
	border-radius: 6px;
	transition: .2s;
	background: #212529;
}

.secao-4 .btn:hover, .secao-2 .btn:hover {
	background: #32383e;
}

.secao-4 .btn i, .secao-2 .btn i {
	margin-left: 10px;
}

.secao-4 .img {
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

/*Seção 5*/

.secao-5 {
	text-align: center;
	color: #212529;
	padding: 70px 0;
}

.secao-5 h3 {
	font-size: 23px;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 38px;
}

.secao-5 h3 span {
	font-weight: 800;
}

.secao-5 p {
	font-size: 13px;
	color: #777;
	margin-top: 5px;
}

.secao-5 .btn {
	margin-top: 22px;
	color: white;
	font-size: 13px;
	font-weight: 700;
	display: inline-block;
	padding: 9px 25px;
	border-radius: 5px;
	transition: .2s;
	background: #3251FC;
	position: relative;
}

.secao-5 .btn:hover {
	background: #5871fd;
}

.secao-5 .btn .preco {
	position: absolute;
	font-size: 10px;
	background: #212529;
	padding: 0px 8px;
	display: block;
	border-radius: 10px;
	bottom: 28px;
	right: -7px;
}

/*Seção 6*/

.secao-6 {
	padding: 50px 0;
}

.secao-6 .card {
	display: flex;
	padding-bottom: 65px;
}

.secao-6 .card .numero {
	border: 2px solid #3251FC;
	display: flex;
	width: 60px;
	height: 60px;
	font-size: 20px;
	border-radius: 50%;
	justify-content: center;
	font-weight: 700;
	align-items: center;
	background: transparent;
	transition: .2s;
}

.secao-6 .card:hover .numero {
	background: #3251FC;
	color: white;
} 

.secao-6 .card .texto {
	margin-left: 15px;
}

.secao-6 .card .texto .titulo {
	font-size: 15px;
	margin-bottom: 5px;
	letter-spacing: -1px;
	color: #212529;
}

.secao-6 .card .texto p {
	font-size: 13px;
	color: #777;
	line-height: 26px;
}

.secao-6 .citacao {
	padding: 0 35px;
}

.secao-6 .citacao blockquote {
	padding: 50px 60px 60px;
	background: #4b66fc;
	color: white;
	text-align: center;
}

.secao-6 .citacao blockquote i {
	font-size: 30px;
	margin-bottom: 20px;
}

.secao-6 .citacao blockquote p {
	font-size: 23px;
	font-family: 'Playfair Display', serif;
	line-height: 45px;
}

.secao-6 .citacao blockquote .btn {
	margin-top: 30px;
	border: 2px solid white;
	color: white;
	font-size: 13px;
	font-weight: 700;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 5px;
	transition: .2s;
}

.secao-6 .citacao blockquote .btn:hover {
	background: white;
	color: black;
}

/*Footer*/

footer {
	background: #212529;
	padding: 0 10px;
}

.logo-footer {
	display: flex;
	justify-content: center;
}

.logo-footer-img {
	width: 100px;
}

footer .footer-top {
	padding-top: 90px;
	padding-bottom: 110px;
}

footer .titulo {
	color: white;
	font-size: 11px;
	margin-bottom: 17px;
}

footer .navegacao {
	padding: 40px 0 60px;
}

footer .nav-footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 60px;
	column-gap: 20px;
}

footer .nav-footer li, footer .contatos li {
	display: flex;
	align-items: center;
}

footer .nav-footer li {
	margin-bottom: 10px;
}

footer .nav-footer a, footer .contatos .email {
	color: #777;
	font-size: 12px;
	font-weight: 300;
	transition: .1s;
	position: relative;
}

footer .nav-footer a:hover {
	color: white;
	font-weight: 400;
	margin-left: 2px;
}

footer .nav-footer i, footer .contatos i {
	color: #3251FC;
	font-size: 10px;
	margin-right: 10px;
}

footer .contatos i {
	font-size: 15px;
}

footer .contatos .telefone {
	color: white;
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 5px;
}

footer .footer-bottom {
	border-top: 1px solid rgba(255, 255, 255, .05);
	padding: 35px 0 60px;
}

footer .footer-bottom p {
	color: #777;
	opacity: .6;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
}

footer .footer-bottom button {
	display: none;
}